[buildout]
extensions = buildout.bootstrap mr.developer
extends = https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = sinar.pardocs
parts = omelette scripts
sources-dir = dev
find-links +=
    #http://packages.sinarproject.org/packages/
auto-checkout = 

[sources]

[versions]
# five now integrated in Zope 4.0a2
five.pt = 2.2.5

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs = sinar.pardocs [test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
eggs += Pillow

[scripts]
recipe = zc.recipe.egg
eggs = 
    zest.releaser
    sinar.pardocs
