[buildout]
extensions = buildout.bootstrap mr.developer
extends = https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.x.cfg
package-name = sinar.pardocs
parts = omelette scripts
sources-dir = dev
find-links +=
    #http://packages.sinarproject.org/packages/
#auto-checkout = 
#    sinar.templer

[sources]
#sinar.templer = git https://github.com/Sinar/sinar.templer.git

[versions]

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs = sinar.pardocs [test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
eggs += Pillow

[scripts]
recipe = zc.recipe.egg
eggs = 
#   sinar.templer
    PasteScript
    zest.releaser
    sinar.pardocs
